* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin: 20px;
    font-size: xx-large;
}
/*
nav section
*/
nav {
    margin: 0 auto;
    background-color:rgb(66, 83, 95);
    color:#fff;
}

nav a {
    display: flex;
    padding: 1.2rem;
    text-decoration: none;
    color:#fff
}

nav a:hover{
    background-color: rgb(88, 104, 118);
}

nav ul {
    list-style-type: none;
}

/*
main section
*/
main {
    max-width: 800px;
    margin: 0 auto;
}
/*
h1
*/
h1 {
    text-align: center;
    margin: 20px;
    font-size: xx-large;
}

/*
figures/imgs
*/
.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	place-items: center;
}

img {
    width: 200px;
    height: 150px;
    padding: 10px;
}

/*
figcaption
*/
figcaption {
    text-align: center;
    padding: 10px;
}

/*
footer
*/
footer{
    background-color:rgb(66, 83, 95);
    padding: 10px;
    color: #fff;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: large;
}

/*
hamburger menu
*/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: #000;
}
#menu::before {
	content: "≡";
}
#menu.show::before{
    content: "x";
}
.navigation li {
    display: none;
    }

.navigation.show li {
    display: block;
}

/*
java elements
*/

section {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 15px;
    align-items: center;
    min-height: 300px; 
}

section img {
    width: 100%; 
    object-fit: cover; 
    margin-bottom: 10px;
}


/*larger view */
@media (min-width: 680px) {
    nav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #menu {
        display:none;
    }
    .navigation li {
        display:block;
    }
    
}   
