* {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*-----HEADER-----*/
header {
    background-color: royalblue;
    border-radius: 6px;
}
h1 {
    color: whitesmoke;
    padding: 1rem;
}

/*-----MAIN-----*/
main {
    background-color: rgb(229, 233, 245);
    border-radius: 6px;
}

/*-----FIELDSET-----*/
fieldset {
    padding: 1.3rem;
    border: none;
}

/*-----LABEL-----*/
label {
    display: block;
}

/*-----SELECT-----*/
select {
    display:inline-block;
}

/*-----.STARS-----*/

.stars {
    display: inline;
   
}

.stars input[type="radio"] + label {
    display: inline;  
} 

/*-----.WEBFORM-----*/
.webform input[type="text"],
.webform input[type="date"],
.webform select{
   display: block;
   border: solid 1px #999;
   border-radius: 6px;
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 400px;
   background-color: #eee;
   appearance: none;
}

.webform input[type="checkbox"] + label {
    display: inline-block;
    margin: 5px;
}


/*-----SUBMIT-----*/
.webform input[type=submit]{
    border:none;
    background-image: linear-gradient(#af2506, #6f200e);
    color:#fff;
    border-radius: 6px;
    padding: .8rem;
    margin-left: 25px;
    margin-bottom: 13px;
}

/*-----FOOTER-----*/
footer {
    background-color: royalblue;
    border-radius: 6px;
}

footer p {
    text-align: center;
    color: white;
    padding: .7rem;
}


