.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.menu {
    display: flex;
    padding: 1rem;
    grid-column: 1 / 4;
    gap: 9rem;
    justify-content: space-evenly;
}

header {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: darksalmon;
    text-align: center;
}

.left-side {
    grid-column: 1 / 2 ;
    background-color:darkseagreen;
    padding: 1rem;
    
}

main {
    grid-column: 2 / 3;
    background-color:lavender;
    padding: 1rem;
    height: 67vh;
    text-align: center;
}

.right-side {
    grid-column: 3 / 4;
    background-color: cornflowerblue;
    padding: 1rem;
}

footer {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color:khaki;
    text-align: center;
}