* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
  --primary-green: #0b331d;
  --card-background: #fff;
  --header-footer: rgb(97, 71, 52);
}

/*
Header
*/
header {
    background-color:var(--header-footer);
    padding:1.5rem;
}

h1 {
    color:#fff;
    text-align: center;
    font-size: 2.5rem;
}

/*
Main
*/

.hero {
    position: relative;
}

.card {
    position: absolute; 
    background-color: var(--card-background);
    padding: 1.3rem;
    border-radius: 5px;
    opacity: 80%;
}

.card.data {
    top: 10rem;
    left: 2rem;
}

.card.data h2::after{
    content:"📊";
}

.card.weather{
    bottom:2rem;
    right: 2rem;
}

.card h2 {
  position: absolute;
  top: -1rem;
  left: 1rem;
  background-color:var(--primary-green);
  color: white;

  padding: 0.5rem 1.2rem;
  border-radius: 4px;

  font-size: 1.2rem;
}

p {
    margin: 8px;
}

h2 img {
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    vertical-align: middle;
}

/*
footer
*/
footer {
    background-color:var(--header-footer);
    padding: 25px;
}

footer p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

/*
media
*/
@media (max-width: 640px) {
    .card {
        position: static;
        width: 100%;
        margin: 1rem auto;
        border-radius: 0;
    }

    .card h2 {
        position: static;
        margin-bottom: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}